<!DOCTYPE html>

<html>

<head>

    <title>Add Expense</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="form-container">

    <div class="form-card">

        <h1>Add Expense</h1>

        <form method="POST">

            <div class="form-group">

                <label>Amount</label>

                <input type="number" name="amount" step="0.01" required>

            </div>

            <div class="form-group">

                <label>Category</label>

                <input type="text" name="category" required>

            </div>

            <div class="form-group">

                <label>Description</label>

                <input type="text" name="description" required>

            </div>

            <div class="form-group">

                <label>Date</label>

                <input type="date" name="date" required>

            </div>

            <button type="submit" class="btn">Add Expense</button>

        </form>

        <br>

        <a href="{{ url_for('home') }}" class="back-btn">

            ← Back to Dashboard

        </a>

    </div>

</div>

</body>

</html>